<%= form_with model: @todo, local: true do |f| %>
  <%= f.label :task %>
  <%= f.text_area :title %>
  <%= f.label :description %>
  <%= f.text_area :body %>
  <p>Completed <%= f.check_box :completed, {}, true, false %></p>
  <%= f.submit %>
<% end %>