<%= render "shared/loginnavbar" %>
<h1> Todo List! </h1>
<div class="todos">
<% @todos.each do |todo| %>
  <div class="todo">
    <p>Task: <%= todo.title %></p>
    <p>Description: <%= todo.body %></p>
    <p>Completed: <%= todo.completed %></p>
   <div class="viewtodo"> <%= link_to "View", todo_path(todo.id) %></div>
  </div>
  <% end %> 
</div>

