<%= render "shared/loginnavbar" %>
<h1> Your Todo! </h1> 

<div class="show-container">
  <div class="todo">
    <p>Title: <%= @todo.title %></p>
    <p>Description: <%= @todo.body %></p>
    <p>Completed: <%= @todo.completed %></p>
  </div>
</div> 

<div class="showbutton">
  <%= link_to 'Edit', edit_todo_path %>
</div>
<div class="showbutton">
  <%= link_to 'Delete', todo_path, :method => :delete %>
</div>