<%= render "shared/loginnavbar" %>
<h1> Show page </h1> 

  <div>
    <h3>Title: <%= @todo.title %></h3>
    <h3>Description: <%= @todo.body %></h3>
    <h3>Completed: <%= @todo.completed %></h3>
  </div>

<div>
  <%= link_to 'Edit', edit_todo_path %>
</div>
<div>
  <%= link_to 'Delete', todo_path, :method => :delete %>
</div>